<!DOCTYPE html>
<html>
<head><title>Vue Test</title></head>
<body>
  <script type="text/x-template" id="app-template">
    <div>
      <input
        type="text"
        @keyup.enter="addTodo"
        v-model="newTodo"
        placeholder="Type and press enter..."
      >
      <span v-show="itemsTodo.length">
        {{ itemsTodo.length }} pending
      </span>

      <ul>
        <li v-for="(todo, index) in todos">
          <label>
            <input
              type="checkbox"
              v-model="todo.completed"
            />
            {{ todo.text }}
          </label>
          <button @click.stop="removeTodo(index)">
            remove &times;
          </button>
        </li>
      </ul>

      <p v-show="!todos.length">
        Nothing to do. Yay!
      </p>

      <a
        href="#"
        @click.prevent="clearCompleted"
        v-show="itemsDone.length"
      >
        Clear completed tasks
      </a>
    </div>
  </script>

  <div id="app"></div>
  <script src="app.bundle.js"></script>
</body>
</html>
